DB_HOST=
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=prl
DB_IDLE_CONNECTION=10
DB_MAX_CONNECTION=100
DB_MAX_LIFE_TIME_CONNECTION=300

SERVER_PORT=8080
PASSWORD_MIGRATION=justdoit

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SSL=true
MINIO_BUCKET=

LOG_LEVEL=6